@import './base.css';

#app {
	height: 100vh;
	font-weight: normal;
}

.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
}

hr {
	margin-bottom: 1rem;
}

@media (hover: hover) {
	a.green:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}
